Comments/new<br>
<%= @salon.store_name %>の口コミを投稿する

<%#= ログインしているユーザーにのみ表示%>
<% if worker_signed_in? %>

<%= form_with model: [@salon, @comment],local: true do |f|%>
<%= render 'shared/error_messages', model: f.object %>

  <div class="field">
    <%= f.label :atmosphere , "雰囲気・環境・働きやすさ" %><br/>
    <%=f.text_field :atmosphere, placeholder:"500文字以内で記入してください" %>
  </div>

  <div class="field">
    <%= f.label :growth_potential  , "得られた技術、成長できるポイント" %><br/>
    <%=f.text_field :growth_potential, placeholder:"500文字以内で記入してください"%>
  </div>

  <div class="field">
    <%= f.label :gap , "入社前後のギャップ" %><br/>
    <%= f.text_field :gap, placeholder:"500文字以内で記入してください"%>
  </div>

  <div class="field">
    <%= f.label :treatment  , "福利厚生・給与など待遇面" %><br/>
    <%= f.text_field :treatment , placeholder:"500文字以内で記入してください"%>
  </div>

  <div class="field">
    <%= f.label :reason_for_retirement, "退職した、もしくは退職しようと考えている理由" %><br/>
    <%= f.text_field :reason_for_retirement, placeholder:"500文字以内で記入してください"%>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn %>
  </div>
<% end %>

<% else %>
  <strong><p>※※※ 口コミの投稿にはログインが必要です ※※※</p></strong>
  ▶︎<%= link_to 'ログイン', worker_session_path, class: "login" %>
  ▶︎<%= link_to '新規登録', new_worker_registration_path, class: "sign-up" %>
<% end %>
   