<!DOCTYPE html>
<html>
  <head>
    <title>Salondoor1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# リセットCSSの設定 %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <%# CSS・・・assets/stylesheets/.css %>
  <header class="Head_header">
      <div class="Head_inner">
        <div class="Head_box_first">
          <div class="Head_logo">
          <%= link_to image_tag("salondoor_logo.PNG",size: "192x71"), "/"%>
        </div>
        </div>
          
    <% if worker_signed_in? %>
      <div class="Head_box_second">
        <div class="Head_box_second1">
          <div class='Head_btn'>
            <%= link_to current_worker.nickname, "#", class: "user-nickname" %>
          </div>
        </div>
        <div class="Head_box_second2">
          <div class='Head_btn'>
            <%= link_to "ログアウト", destroy_worker_session_path, method: :delete%>
          </div>
        </div>
      </div>
    <% else %>
    <div class="Head_box_second"> 
    <div class="Head_box_second1">
    <div class='Head_btn'> 
      <%= link_to 'ログイン', worker_session_path, class: "login" %>
    </div>
     </div>
    
    <div class="Head_box_second2">
    <div class='Head_btn'>
      <%= link_to '新規登録', new_worker_registration_path, class: "sign-up" %>
    </div>
    </div>
    </div>
    <% end %>
    </div>
  </div>
  </header>
  

  <body>
    <%= yield %>
  </body>

  <footer>
    ==========<br>
    フッター
  </footer>
</html>