<!DOCTYPE html>
<html>
  <head>
    <title>Salondoor1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# リセットCSSの設定 %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  

  <%# CSS・・・assets/stylesheets/.css %>
    <h4 class="headSummary">ネイリスト・ネイルサロンの求人・転職サロン検索</h4>
    <% if worker_signed_in? %>
      <div class="">
      ▶︎<%= link_to current_worker.nickname, "#", class: "user-nickname" %>さん
      ▶︎<%= link_to "ログアウト", destroy_worker_session_path, method: :delete, class: "logout" %>
    <% else %>    
      ▶︎<%= link_to 'ログイン', worker_session_path, class: "login" %>
      ▶︎<%= link_to '新規登録', new_worker_registration_path, class: "sign-up" %>
    <h6 p>※ 投稿には新規登録/ログインが必要です ※</p></h6>
    <% end %></br>
    <%= link_to 'サロン登録', new_salon_path %><br/>
    <%= link_to 'サロン一覧', salons_path %><br/>
    ==========<br>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    ==========<br>
    フッター
  </footer>
</html>