<!DOCTYPE html>
<html>
  <head>
    <title>Salondoor1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <h4 class="headSummary">ネイリスト・ネイルサロンの求人・転職サロン検索</h4>
    ログイン
    <%= link_to '会員登録', new_worker_registration_path, class: "sign-up" %>
    ログアウト</br>
    サロン登録</br>
    =================
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    ==========</br>
    フッター
  </footer>
</html>